@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron{
        float: initial;
        width: auto;
    }
</style>
<div class="jumbotron">
    <h4>Sistema de Lembretes</h4>
    <li>@Html.ActionLink("Cadastro de Lembretes", "Create", "Lembretes")</li>
    <li>@Html.ActionLink("Listagem de Lembretes", "Index", "Lembretes")</li>
</div>

<div class="row">
    
</div>